{% extends "main/base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %} {% translate 'Корзина' %} {{ total_price|intcomma }} ₸ {% endblock title %}

{% block content %}
<!--CART-->
<section class="skrollable pb-5"
         style="background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url({% static 'images/cart/4-min.jpg' %});
                     background-attachment: fixed; background-position: 70%; background-size: cover; background-repeat: no-repeat; min-height: 88vh">

    <!-- PART 1  -->
    <div class="container">
        <div class="row pt-5">

            {# Сообщения!!! #}
            {% include "main/included/messages.html" %}

            <div class="col-12">

                <a href="{% url 'main:menu_page' url_name=establishment_url %}">
                    <button data-aos="fade-right" class="btn btn-sm btn-animate shadow-0"
                            style="border-radius: 20px; " data-mdb-ripple-color="#fd7014">
                        <i class="fas fa-arrow-left-long fa-3x" style="color: #FD7014"> </i>
                    </button>
                </a>


                <h2 class="text-center">{% translate 'Корзина' %}</h2>
            </div>
        </div>
    </div>

    <!--  PART 2 CART LOGIC  -->
    {% load cart_tag %}
    {% user_cart request establishment_url as cart %}
    {% if cart.cart_items.all %}
    <div class="container my-3 position-relative" style="background: rgba(25, 25, 25, 0.5)">
        {% for item in cart.cart_items.all %}
        <!--        {# Обращаемся по классу и передаем id конкретно этой карточки(именно этого блюда) в js #}-->
        <div class="row shadow-5 cart-element"
             data-dish-id="{{ item.dish.id }}">

            <div class="col-6 my-auto me-0 pe-0">
                <p class="fs-6 fw-bold my-2 " style="line-height: 19px;">{{ item.dish.name }}</p>
                <p class="" style="font-size: 16px;
    line-height: 19px;
    color: inherit;
    margin-bottom: 8px;
    opacity: .6;">{{ item.dish.description }}</p>
            </div>
            <div class="col-3 mx-0 px-0 my-auto text-center">

                <!--                {# Обращаемся по классу и передаем id, href конкретно этой кнопки(именно этого блюда) в js #}-->
                <a class="btn btn-animate px-0 py-0 me-1 remove-from-cart"
                   data-mdb-ripple-color="danger"
                   data-mdb-ripple-radius="10"
                   href="{% url 'cart:remove' %}"
                   data-dish-id="{{ item.dish.id }}">
                    <i class="fas fa-circle-minus fa-2x text-danger"></i>
                </a>

                <!--                {# Обращаемся по классу и отрисовываем данные с бекенда #}-->
                <span class="my-auto cart-quantity"
                      data-dish-id="{{ item.dish.id }}">{{ item.quantity }}</span>


                <!--                {# Обращаемся по классу и передаем id, href конкретно этой кнопки(именно этого блюда) в js #}-->
                <a class="btn btn-animate px-0 py-0 ms-1 add-to-cart"
                   data-mdb-ripple-color="success"
                   data-mdb-ripple-radius="10"
                   href="{% url 'cart:add' %}"
                   data-dish-id="{{ item.dish.id }}">
                    <i class="fas fa-circle-plus fa-2x text-success"></i>
                </a>

            </div>

            <!--            {# Обращаемся по классу cart-subtotal-value и отрисовываем данные с бекенда #}-->
            <!--            {# передаем id конкретно этого элемента (именно этого блюда) в js #}-->
            <div class="col-3 my-auto text-center">
                <h6 class="cart-subtotal-value"
                    data-dish-id="{{ item.dish.id }}">
                    {{ item.subtotal|intcomma }} ₸
                </h6>
            </div>
            <hr class="my-1">
        </div>


        {% endfor %}
        <div class="d-flex">
            <!--            {# Обращаемся по классу cart-total-value и отрисовываем данные с бекенда #}-->
            {% if service_percent > 0 %}
            <div class="col-9 text-end mx-0 px-0">
                <p class="mt-3 mb-0">{% translate 'Подитог: ' %}
                </p>
                <p class="my-0">{% translate 'Обслуживание: ' %} </p>
                <p class="my-0 fw-bold fs-5"> {% translate 'Итого: ' %} </p>
            </div>
            <div class="col-3 text-center ms-0 ps-2">
                <p class="cart-total-value mb-0 mt-3" style="color: #FD7014">{{ cart.total_cost|intcomma }} ₸</p>
                <p class="my-0" style="color:#FD7014">{{ service_percent }} %</p>
                <p style="color:#FD7014" class="cart-total-value-with-service my-0 fw-bold fs-5">
                    {{ cart.total_cost_with_service|intcomma }} ₸</p>
            </div>
            {% else %}
            <div class="col-8 text-end mx-0 px-0">
                <p class="mt-3 mb-0 fw-bold fs-5">{% translate 'Итого: ' %}</p>
            </div>
            <div class="col-4 text-center ms-0 ps-2">
                <p class="cart-total-value mb-0 mt-3 fw-bold fs-5" style="color: #FD7014">{{ cart.total_cost|intcomma }}
                    ₸</p>
            </div>
            {% endif %}
        </div>


        <div class="container text-center">
            <div class="d-flex justify-content-center py-4">
                {% if outside and phone %}
                <a class="text-center" target="_blank" href="https://wa.me/{{phone}}?text=
Здравствуйте, прошу принять заказ YAEM.KZ: %0a %0a
САМОВЫВОЗ: %0a %0a
{% for item in cart.cart_items.all %}
*{{ item.dish.name }}* - *{{ item.quantity }} шт.* %0a
{% if delivery_description %}
(_{{ item.dish.description }}_) %0a %0a
{% endif %}
{% endfor %}">
                    <button class="btn btn-success btn-rounded btn-animate mx-2">
                        Самовывоз
                        <i class="fas fa-shop fa-lg"></i>
                    </button>
                </a>
                {% endif %}
                {% if delivery and phone %}
                <a class="text-center" target="_blank" href="https://wa.me/{{phone}}?text=
Здравствуйте, прошу принять заказ YAEM.KZ: %0a %0a
ДОСТАВКА: %0a %0a
{% for item in cart.cart_items.all %}
*{{ item.dish.name }}* - *{{ item.quantity }} шт.* %0a
{% if delivery_description %}
(_{{ item.dish.description }}_) %0a %0a
{% endif %}
{% endfor %}">
                    <button class="btn btn-success btn-rounded btn-animate mx-2">
                        Доставка
                        <i class="fas fa-truck fa-lg"></i>
                    </button>
                </a>
                {% endif %}
            </div>
        </div>


        {% else %}
        <div class="container my-5" style="background: rgba(25, 25, 25, 0.5)">
            <h5 class="text-center py-5">{% translate 'Корзина пуста' %}</h5>
        </div>
    </div>

    {% endif %}
</section>
{% endblock content %}