{% extends "main/base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %} {% translate 'Корзина' %} {{ total_price|intcomma }} ₸ {% endblock title %}

{% block content %}
<!--CART-->
<section class="skrollable pb-5"
         style="background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url({% static 'images/4.jpg' %});
    background-attachment: fixed; background-position: 50%; background-size: 100vh background-repeat: repeat">

    <!-- PART 1  -->
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <div data-aos="fade-right" class="btn btn-animate shadow-0" onclick="history.back();"
                     style="border-radius: 20px; ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="#FD7014"
                         class="bi bi-arrow-left text-start"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </div>
                <h1 class="text-center">{% translate 'Корзина' %}</h1>
            </div>
        </div>
    </div>

    <!--  PART 2 CART LOGIC  -->
    <div class="container my-5 position-relative" style="background: rgba(25, 25, 25, 0.5)">
        {% if not is_empty %}
        {% for cart_item in cart_items %}
        <div class="row shadow-5">
            <div class="col-6 my-auto">
                <h4>{{ cart_item.product.name }}</h4>
                <p>{{ cart_item.product.description }}</p>
            </div>
            <div class="col-2 my-auto text-center">
                <div class="delete-button" data-product-id="{{ cart_item.product.id }}">
                    <button class="btn btn-danger btn-sm mx-auto btn-animate btn-floating" style="border-radius: 100%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                             class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                    </button>
                    <!--       SCRIPT   обязательно под кнопкой удалить      -->
                    <script>
  // JavaScript-обработчик для удаления товара из корзины
  document.querySelectorAll('.delete-button').forEach(function(element) {
    element.addEventListener('click', function() {
      var productId = element.getAttribute('data-product-id');
      var formData = new FormData();
      formData.append('product_id', productId);

      fetch('{% url "cart:remove_from_cart" %}', {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
      .then(function(response) {
        if (response.ok) {
          // Обновление содержимого корзины (опционально)
          window.location.reload();
        } else {
          console.error('Failed to remove item from cart.');
        }
      })
      .catch(function(error) {
        console.error(error);
      });
    });
  });

                    </script>
                    <h5 class="d-inline">{{ cart_item.quantity }}</h5>
                </div>
            </div>
            <div class="col-4 my-auto text-center">
                <h5>{{cart_item.sub_total|intcomma}} ₸</h5>
            </div>
        </div>
        <div>
        </div>
        {% endfor %}
        <div class="row mt-2">


            <div class="col-6 col-lg-8 text-end">
                <form data-aos="fade-up" data-aos-delay="100" id="clear-form" method="post"
                      action="{% url 'cart:cart_clear' %}">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger btn-animate mt-3" type="submit" style="max-width: 140px">{% translate 'Очистить' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="col-6 col-lg-4 text-center">
                <h4 data-aos="fade-up" class="my-3">{% translate 'Итого' %}:
                    <div class="d-inline" style="color: #FD7014">{{ total_price|intcomma }} ₸</div>
                </h4>
                {% else %}
                <h5 class="text-center py-5">{% translate 'Корзина пуста' %}</h5>

                {% endif %}
            </div>
        </div>

        {% if not is_empty %}
        <div class="container my-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div data-aos="flip-up" data-aos-delay="500" class="btn-group mx-auto mb-3">
                        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off"/>
                        <label class="btn btn-success" for="option1">{% translate 'В зале' %}</label>

                        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off"/>
                        <label class="btn btn-success" for="option2">{% translate 'Самовывоз' %}</label>

                        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off"/>
                        <label class="btn btn-success" for="option3">{% translate 'Доставка' %}</label>
                    </div>
                </div>
                <div id="inputContainer1" class="form-outline" style="display: none">
                    <form action="" class="needs-validation" novalidate>
                        <p class="text-light">{% translate 'Отправьте заказ, не дожидаясь официанта' %}</p>
                        <div class="form-outline">
                            <input type="text" id="table#" class="form-control text-light" maxlength="20" required/>
                            <label class="form-label text-secondary" for="table#">{% translate 'Номер стола' %}</label>
                            <div class="invalid-feedback">{% translate 'Вы не указали номер стола' %}</div>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                                    class="btn btn-success mx-auto my-3">{% translate 'Отправить'%}
                            </button>
                        </div>
                    </form>
                </div>

                <div id="inputContainer2" class="form-outline" style="display: none">
                    <form action="" class="needs-validation" novalidate>
                        <p class="text-light">{% translate 'Отправьте заказ, и заберите в удобное время' %}</p>
                        <div class="form-outline">
                            <input type="text" id="name" class="form-control text-light" data-mdb-showcounter="true"
                                   maxlength="20" required/>
                            <label class="form-label text-secondary" for="name">{% translate 'Ваше имя' %}</label>
                            <div class="form-helper"></div>
                            <div class="invalid-feedback">{% translate 'Вы не указали имя' %}</div>
                        </div>
                        <div class="form-outline my-5">
                            <input type="tel" id="phone" class="form-control text-light"
                                   data-mdb-showcounter="true"
                                   maxlength="20" required/>
                            <label class="form-label text-secondary" for="phone">{% translate 'Номер телефона'%}</label>
                            <div class="invalid-feedback">{% translate 'Вы не указали номер телефона' %}</div>
                        </div>
                        <div class="form-outline">
                            <input type="time" id="time" class="form-control text-light"
                                   data-mdb-showcounter="true"
                                   maxlength="20" required/>
                            <label class="form-label text-secondary ms-5" for="time">{% translate 'Время самовывоза'%}</label>
                            <div class="invalid-feedback">{% translate 'Вы не указали время' %}</div>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                                    class="btn btn-success mx-auto my-3">{% translate 'Отправить'%}
                            </button>
                        </div>
                    </form>
                </div>
                <!--СКРИПТ ПО ОБРАБОТКЕ ОТВЕТОВ-->
                <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict';

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation');

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms).forEach((form) => {
    form.addEventListener('submit', (event) => {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  });
})();

                </script>
                <div id="inputContainer3" class="form-outline" style="display: none">
                    <form action="" class="needs-validation" novalidate>
                        <p class="text-light">{% translate 'Отправьте заказ, и Вам доставят в удобное время' %}</p>
                        <div class="form-outline">
                            <input type="text" id="name1" class="form-control text-light"
                                   data-mdb-showcounter="true"
                                   maxlength="20" required/>
                            <label class="form-label text-secondary" for="name1">{% translate 'Ваше имя' %}</label>
                            <div class="form-helper"></div>
                            <div class="invalid-feedback">{% translate 'Вы не указали имя' %}</div>
                        </div>
                        <div class="form-outline my-5 ">
                            <input type="tel" id="phone1" class="form-control text-light"
                                   data-mdb-showcounter="true"
                                   maxlength="20" required/>
                            <label class="form-label text-secondary" for="phone1">{% translate 'Номер телефона'%}</label>
                            <div class="invalid-feedback">{% translate 'Вы не указали номер телефона' %}</div>
                        </div>
                        <div class="form-outline mb-5 ">
                            <input type="text" id="address" class="form-control text-light"
                                   data-mdb-showcounter="true"
                                   maxlength="60" required/>
                            <label class="form-label text-secondary" for="address">{% translate 'Адрес доставки'%}</label>
                            <div class="form-helper"></div>
                            <div class="invalid-feedback">{% translate 'Вы не указали адрес доставки' %}</div>
                        </div>
                        <div class="form-outline">
                            <input type="time" id="time1" class="form-control text-light"
                                   data-mdb-showcounter="true"
                                   maxlength="20" required/>
                            <label class="form-label text-secondary ms-5" for="time1">{% translate 'Время доставки'%}</label>
                            <div class="invalid-feedback ">{% translate 'Вы не указали время доставки' %}</div>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                                    class="btn btn-success mx-auto my-3">{% translate 'Отправить'%}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!--&lt;!&ndash;MODAL: ORDER CONFIRMED&ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalConfirmLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered">-->
<!--    <div class="modal-content" style="background: rgba(33, 37, 41, 0.95);">-->
<!--      <div class="modal-body">-->
<!--                <div class="row">-->
<!--                    <div class="col-12 text-center">-->
<!--                        <h5 class="modal-title fw-bold" style="color: #FD7014">{% translate 'Заказ принят!' %}</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--СКРИПТ ПО ОБРАБОТКЕ РАДИО-->
<script>
    const radioOptions = document.querySelectorAll('input[name="options"]');
    const inputContainers = document.querySelectorAll('[id^="inputContainer"]');

    radioOptions.forEach((radio, index) => {
        radio.addEventListener('change', () => {
            inputContainers.forEach(container => {
                container.style.display = 'none';
            });

            if (radio.checked) {
                inputContainers[index].style.display = 'block';
            }
        });
    });






</script>


{% endblock content %}