{% extends "main/base.html" %}
{% load static %}
{% load i18n %}


{% block title %} {% trans 'QR Меню для заведений' %} {% endblock title %}

{% block content %}

<!--button up-->
<a id="scrollToTopButton" class="btn fs-5 mx-2 shadow"
   style="color: #fd7014; background: rgba(33, 37, 41, 0.8); border-radius: 50px; bottom: 100px; left: 10px; display: none;"
   href="#header">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
</a>
<!--button end-->

<!--COUNTER START-->
<section class="" style="background: rgba(33, 37, 41)">
    <div id="counter" class="indicator-list container">
        <div class="row text-center fs-4 py-2 fw-bold" style="color: #fd7014">
            <div class="col-6 col-lg-4">
                <div class="indicators-item"> <!--item-1-->
                    <div data-num="{{total_clients}}" class="indicators-title"></div>
                    <div class="lng-unit4 indicators-subtitle text-white">{% trans 'Заведений' %}</div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="indicators-item"> <!--item-1-->
                    <div data-num={{total_dishes}} class="indicators-title"></div>
                    <div class="lng-unit4 indicators-subtitle text-white">{% trans 'Блюд' %}</div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="indicators-item"><!--item-3-->
                    <div data-num={{total_orders}} class="indicators-title"></div>
                    <div class="lng-unit6 indicators-subtitle text-white">{% trans 'Заказов' %}</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--COUNTER END-->
<main>
    <!--  PART 1  -->
    <section class="skrollable py-3"
             style="background-image: url({% static 'images/5.jpg' %});
    background-attachment:fixed; background-repeat: repeat; background-size: 200vh;
    background-position: 20%">

        <div class="container">
            <div class="row text-white">
                <div class="col-lg-6"></div>
                <div class="col-8 col-lg-3 col-sm-5 text-center my-3 mx-auto"
                     style="background: rgba(20, 164, 77, 0.85);border-radius: 50px">
                    <h4 class="mt-2 mb-0 ">{% trans 'ОНЛАЙН' %}</h4>
                    <h4 class="my-0 ">{% trans 'МЕНЮ' %}</h4>
                    <h3 class="my-3 fw-bold">{% trans 'БЕСПЛАТНО' %}</h3>
                    <img src="{% static 'images/qr_code.png' %}" height="" alt="" class="img w-100 my-3"
                         style="border-radius: 10%; max-width: 150px">
                </div>
            </div>
        </div>

        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-6 col-sm-8 text-white text-center">
                    <h1 class="fw-bold mt-0">{% trans 'Присоединяйтесь к сети заведений с онлайн меню' %}</h1>
                    <h6 class="fw-bold my-4">{% trans 'И МЫ СДЕЛАЕМ ДЛЯ ВАС ОНЛАЙН МЕНЮ И QR КОД' %}</h6>
                    <div class="btn btn-success text-white btn-animate" style="border-radius: 50px"
                         data-bs-toggle="modal"
                         data-bs-target="#exampleModal">
                        {% trans 'Подключить' %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--  PART 2  -->
    <section class="py-3" style="background: rgba(33, 37, 41, 0.95)">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-6 col-sm-12 text-center">
                    <h2 class="fw-bold my-4">{% trans 'Всё просто !' %}</h2>
                    <h5 class="">{% trans 'Берём образец' %} <strong>{% trans 'Вашего меню' %} </strong></h5>
                    <h5 class="m-3">{% trans 'Создаём страницу с меню на' %} <strong>{% trans 'Нашем сайте' %}</strong>
                    </h5>
                    <h5 class="">{% trans 'Выдаём QR код для перехода в' %} <strong>
                        {% trans 'Ваше онлайн меню'%}</strong></h5>
                    <div class="row text-center text-nowrap">
                    </div>

                </div>
                <div class="col-9 col-lg-6 mx-auto my-4">
                    <img src="{% static 'images/partner/menu.jpeg' %}" alt="" class="img-fluid w-auto"
                         style="border-radius: 50px;">
                </div>
            </div>
        </div>
    </section>

    <!--CAROUSEL START-->
    <section class="py-3" style="background: rgba(33, 37, 41, 0.95)">
        <div class="container">
            <h2 class="text-center fw-bold">{%trans 'Примеры оформления:'%}</h2>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
            <!-- Demo styles -->
            <style>
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-wrapper {
    height:auto;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 400px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
            </style>
            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="img-fluid" src="{% static 'images/partner/sample1.png' %}"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/partner/sample2.png' %}"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/partner/sample3.png' %}"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/partner/sample4.png' %}"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/partner/sample5.png' %}"/>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>


        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
        </script>
    </section>

    <!--  PART 3  -->
    <section class="skrollable"
             style="background-image: linear-gradient(0deg, rgba(100, 51, 51, 0.2), rgba(100, 51, 51, 0.2)), url({% static 'images/1.jpg' %});
    background-attachment:fixed; background-position: 60%; background-repeat: repeat; background-size: 220vh">
        <div class="container">
            <h2 class="text-center fw-bold text-white pt-3">{% trans 'Наши приемущества' %}</h2>
            <div class="row gy-3 py-3">
                <div class="col-lg-4 col-sm-6 text-center" style="background: rgba(33, 37, 41, 0.3);border-radius: 10px ">
                    <h3 class="my-3 me-4" style="color: #fd7014">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-qr-code" viewBox="0 0 16 16">
                            <path d="M2 2h2v2H2V2Z"/>
                            <path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"/>
                            <path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"/>
                            <path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"/>
                            <path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"/>
                        </svg>
                        {% trans 'Простота' %}
                    </h3>
                    <h5 class="my-3">{% trans 'Возможность мгновенно обновлять и изменять цены, акции и меню позволяет
                        кафе и ресторанам оперативно реагировать на изменения рынка и предпочтений клиентов' %}</h5>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="background: rgba(33, 37, 41, 0.3);border-radius: 10px ">

                    <h3 class="my-3 me-4" style="color: #fd7014">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                        </svg>
                        {% trans 'Продажи' %}
                    </h3>
                    <h5 class="my-3">{% trans 'Корзина в онлайн меню способствует увеличению среднего чека, так как
                        клиенты могут легко добавлять в нее дополнительные блюда и напитки' %}</h5>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="background: rgba(33, 37, 41, 0.3);border-radius: 10px ">
                    <h3 class="my-3" style="color: #fd7014">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-basket3-fill" viewBox="0 0 16 16">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
                        </svg>
                        {% trans 'Новые клиенты' %}
                    </h3>
                    <h5 class="my-3">{% trans 'Опция дистанционного отправления заказов через позволяет привлечь
                        клиентов, которые предпочитают питание на вынос или доставку' %}</h5>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="background: rgba(33, 37, 41, 0.3);border-radius: 10px ">

                    <h3 class="my-3" style="color: #fd7014">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        {% trans 'Эффективность' %}
                    </h3>
                    <h5 class="my-3">{% trans 'Возможность клиента ознакомиться с меню, принимать заказы удаленно, вести
                        стоп-лист и изменять меню, что сокращает временные затраты' %}
                    </h5>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="background: rgba(33, 37, 41, 0.3);border-radius: 10px ">

                    <h3 class="my-3" style="color: #fd7014">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-search-heart" viewBox="0 0 16 16">
                            <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                            <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
                        </svg>
                        {% trans 'Аналитика' %}
                    </h3>
                    <h5 class="my-3">{% trans 'Получать полезные данные о популярных блюдах и предпочтениях. Делать
                        более обоснованные бизнес-решения и адаптировать меню под потребности клиентов.' %}</h5>
                </div>
                <div class="col-lg-4 col-sm-6 text-center" style="background: rgba(33, 37, 41, 0.3);border-radius: 10px ">

                    <h3 class="my-3" style="color: #fd7014">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-translate" viewBox="0 0 16 16">
                            <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                            <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                        </svg>
                        {% trans 'Мультиязычность' %}
                    </h3>
                    <h5 class="my-3">{% trans 'Предоставление меню на нескольких языках делает заведение более
                        привлекательным для иностранных посетителей и туристов' %}</h5>
                </div>
            </div>
        </div>
    </section>

    <!--    PART 5 PRICING-->
    <section class="" style="background: rgba(33, 37, 41, 0.95);">
        <div class="container">
            <h2 class="text-center py-3">{% trans 'Тарифные планы' %}</h2>

            <div class="row text-center gy-3 py-3">
                <div class="col-10 col-sm-5 col-lg-3 mx-auto shadow-lg bg-body-secondary"
                     style="background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.8)), url({% static 'images/bronze.jpg' %});
                     border-radius: 10px; background-size: 150%;">
                    <img class="img w-25 my-3" src="{% static 'images/t-1.png' %}" alt=""
                         style="border-radius: 10px; max-width: 100px; opacity: 50%">
                    <h4 class="fw-bold my-3" style="background: rgba(255, 132, 0, 0.3); border-radius: 50px">{% trans
                        'Бронза' %}</h4>
                    <h5 style="color: #">
                        <del>60 000 {% trans 'тг в год' %}</del>
                    </h5>
                    <h3 class="fw-bold" style=""> 0 {% trans 'тг в год' %}</h3>
                    <div class="container py-3">
                        <h6 class="shadow text-start" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Онлайн меню' %}
                        </h6>
                        <h6 class="shadow text-start" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Настольный QR код' %}
                        </h6>
                        <h6 class="shadow text-start" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Редакция 4 раза в год' %}
                        </h6>
                    </div>
                    <button class="btn btn-success my-3 btn-animate btn-rounded" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">{% trans 'Подключить' %}
                    </button>
                </div>

                <!--                SILVER-->
                <div class="col-10 col-sm-5 col-lg-4 mx-auto shadow-lg border"
                     style="border-radius: 10px; background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.9)), url({% static 'images/silver1.jpg' %});
                     background-repeat: no-repeat; background-size: 100vh;
    background-position: 50% 50%">
                    <img class="img w-50" src="{% static 'images/t-2.png' %}" alt=""
                         style="border-radius: 10px; max-width: 120px; opacity: 50%">
                    <h3 class="fw-bold my-3 bg-secondary shadow" style="--bs-bg-opacity: 30%; border-radius: 50px">
                        {% trans 'Серебро' %}</h3>
                    <h4 class="" style="color: #">15 000 {% trans 'тг/мес' %}</h4>
                    <h3 class="fw-bold" style="color: #"> 150 000 {% trans 'тг/год' %}</h3>
                    <div class="container py-3">
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Онлайн меню с фото блюд' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Настольный QR код' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Неограниченная редакция' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Техническая поддержка' %}
                        </h5>
                        <h5 class=" shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Меню на 3х языках' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Бонус: "Самовывоз" и "Доставка"' %}
                        </h5>
                    </div>
                    <button class="btn btn-success my-3 btn-animate btn-rounded" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">{% trans 'Подключить' %}
                    </button>
                </div>

                <!--                GOLD-->
                <div class="col-10 col-sm-6 col-lg-3 mx-auto shadow-lg"
                     style=" background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.8)), url({% static 'images/gold3.png' %});
                     background-size: 100vh; border-radius: 10px; background-position: 50% 50%">
                    <img class="img w-25 my-3" src="{% static 'images/t-3.png' %}" alt=""
                         style="border-radius: 10px; max-width: 100px; opacity: 50%">
                    <h4 class="fw-bold my-3 bg-warning" style="--bs-bg-opacity: 50%; border-radius: 50px">{% trans
                        'Золото' %}</h4>
                    <h4 class="fw" style="color: #">25 000 {% trans 'тг/мес' %}</h4>
                    <h2 class="fw-bold" style="color: #"> 250 000 {% trans 'тг/год' %}</h2>
                    <div class="container py-3">
                        <h5 class="shadow text-start ps-2 fw-bold"
                            style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Тариф "Серебро"' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Эксклюзивный QR код' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Эксклюзивный дизайн меню' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Личный кабинет' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Онлайн оплата Kaspi' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Персональный менеджер' %}
                        </h5>
                        <h5 class="shadow text-start ps-2" style="background: rgba(255, 255, 255, 0.1); border-radius: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Gold"
                                 class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            {% trans 'Аналитика Google, Yandex' %}
                        </h5>
                    </div>
                    <button class="btn btn-success my-3 btn-animate btn-rounded" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">{% trans 'Подключить' %}
                    </button>
                </div>
            </div>
        </div>

    </section>


    <!--  PART 4 countdown -->
    <section class="" style="background: rgba(33, 37, 41, 0.95);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <h2 class="my-3">{% trans 'Бесплатное подключение' %}</h2>
                    <div id="countdown" class="row gy-3 my-3 border" style="color: #fd7014">
                        <div class="col">
                            <p id="days" class="countdown-number fs-1 fw-bold">0</p>
                            <h4>{% trans 'Дней' %}</h4>
                        </div>
                        <div class="col">
                            <p id="hours" class="countdown-number fs-1 fw-bold">0</p>
                            <h4>{% trans 'Часов' %}</h4>
                        </div>
                        <div class="col">
                            <p id="minutes" class="countdown-number fs-1 fw-bold">0</p>
                            <h4>{% trans 'Минут' %}</h4>
                        </div>
                        <div class="col">
                            <p id="seconds" class="countdown-number fs-1 fw-bold">0</p>
                            <h4>{% trans 'Секунд' %}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    MODAL-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark ">
                <!--                HEADER-->
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">{% trans 'Оставить заявку' %}</h5>
                    <button class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="close"></button>
                </div>

                <div class="modal-body">
                    <p class="text-center">{trans 'Вы можете оставить свои данные и мы с Вами свяжемся' %}</p>

                    <p>{% trans 'Имя:' %}</p>
                    <div class="row mb-3" id="input_1">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput_1"
                                   placeholder="name@example.com">
                            <label class="ms-2" for="floatingInput_1">{% trans 'Введите имя' %}</label>
                        </div>
                    </div>
                    <p>{% trans 'Номер телефона:' %}</p>
                    <div class="row mb-3" id="input_2">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput_2"
                                   placeholder="name@example.com">
                            <label class="ms-2" for="floatingInput_2">{% trans 'Введите телефон' %}</label>
                        </div>
                    </div>
                    <p>{% trans 'Позиция' %}:</p>
                    <select class="form-select mb-3" aria-label="Small select example">
                        <option class="w-50" value="1">{% trans 'Предприниматель' %}</option>
                        <option value="2">{% trans 'Руководитель' %}</option>
                        <option value="3">{% trans 'Менеджер' %}</option>
                    </select>
                </div>
                <!--FOOTER-->
                <div class="modal-footer">
                    <button class="btn btn-success" id="input_4">{% trans 'Отправить' %}
                    </button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!--  scripts  -->
    <script src="{% static 'js/countdown.js' %}"></script>
</main>

{% endblock content %}
