.img-fluid-logo {
    width: 100px
}

.btn-animate:active {
    animation-name: buttonPress;
    animation-duration: 0.2s;
}

@keyframes buttonPress {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

