{% extends "main/base.html" %}
{% load static %}
{% load i18n %}


{% block title %} {% translate 'Я ЕМ | Банкетные залы' %} {% endblock title %}

{% block description %}
{% translate 'Банкетные залы в Темиртау, Караганде, Алмате для юбилея, свадьбы, корпоратива. Заказать банкет онлайн.' %}
{% endblock description %}

{% block content %}
<!--button up-->
<a id="scrollToTopButton" class="btn fs-1 mx-2 shadow btn-rounded"
   style="color: #fd7014; background: rgba(33, 37, 41, 0.5); position: fixed; bottom: 25px; left: 15px; display: none; z-index: 100"
   href="#header"
   data-mdb-ripple-color="#FD7014">
    <i class="fas fa-arrow-up-long"></i>
</a>
<!--button end-->


<!--COUNTER START-->

<!--COUNTER START-->
<section class="user-select-none" style="background: #212529">
    <div id="counter" class="indicator-list  container">
        <div class="row text-center fs-6 py-2 fw-bold" style="color: #fd7014">
            <div class="col-4 col-lg-4">
                <div id="counter-1" class="indicators-item"> <!--item-1-->
                    <div data-num="{{total_clients}}" class="indicators-title fs-5"></div>
                    <div class="lng-unit4 indicators-subtitle text-white"><i class="fas fa-store fa-xs">
                    </i> {% trans 'Заведений' %}
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-4">
                <div id="counter-2" class="indicators-item"> <!--item-2-->
                    <div data-num="{{total_banquets}}" class="indicators-title fs-5"></div>
                    <div class="lng-unit4 indicators-subtitle text-white"><i class="fas fa-bell-concierge fa-xs"></i> {% trans 'Залов' %}
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-4">
                <div id="counter-3" class="indicators-item"><!--item-3-->
                    <div data-num={{total_online}} class="indicators-title fs-5"></div>
                    <div class="lng-unit6 indicators-subtitle text-white">
                        <i class="fas fa-user fa-xs"></i> {% trans 'Онлайн' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--COUNTER END-->

<section class="skrollable pb-5"
         style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.9)), url({% static 'images/banquet/банкет-min.jpg' %});
    background-repeat: no-repeat; background-position: center center; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
        <div class="container py-3">
            <h1 class="fw-bold text-center mb-3" style="color: #fd7014">{% translate 'Банкетные залы' %}</h1>
            <form action="" method="get">
                <div class="d-flex justify-content-center">
                    <div class="d-inline-flex text-center">
                        <select class="form-select-sm" id="select_3" aria-label="Default select example"
                                name="city">
                            <option selected value="">{% trans 'Город' %}</option>
                                {% for city in cities %}
                                <option value="{{ city }}" {% if request.GET.city == city %}selected{% endif %}>{{ city }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="d-inline-flex text-center mx-2">
                        <select class="form-select-sm" id="select_2" aria-label="Default select example"
                                name="price_min_max">
                            <option selected value="">{% trans 'Цена за человека' %}</option>
                                    <!--0 - 3000-->
                            <option value="3000" {% if request.GET.price_min_max == '3000' %}selected{% endif %}>{% trans 'до' %} 3 000</option>
                                    <!--3000 - 5000-->
                            <option value="5000" {% if request.GET.price_min_max == '5000' %}selected{% endif %}>3 000 - 5 000</option>
                                    <!--5000 - 10000-->
                            <option value="10000" {% if request.GET.price_min_max == '10000' %}selected{% endif %}>5 000 - 10 000</option>
                                    <!--10000 - 15000-->
                            <option value="10001" {% if request.GET.price_min_max == '10001' %}selected{% endif %}>{% trans 'свыше' %} 10 000</option>
                        </select>
                    </div>
                    <div class="d-inline-flex text-center">
                        <select class="form-select-sm" id="select_1" aria-label="Default select example"
                                name="capacity">
                            <option selected value="">{% trans 'Вместимость' %}</option>
                                    <!--0 - 100-->
                            <option value="100" {% if request.GET.capacity == '100' %}selected{% endif %}>{% trans 'до' %} 100</option>
                                    <!--100 - 200-->
                            <option value="200" {% if request.GET.capacity == '200' %}selected{% endif %}>100-200</option>
                                    <!--200 - 400-->
                            <option value="400" {% if request.GET.capacity == '400' %}selected{% endif %}>200-400</option>
                                    <!--400 +-->
                            <option value="401" {% if request.GET.capacity == '401' %}selected{% endif %}>{% trans 'Свыше' %} 400</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex mx-auto mt-2 justify-content-center">
                    <button data-aos="flip-up" class="btn btn-success btn-rounded btn-sm btn-animate" type="submit"><i class="fas fa-magnifying-glass"></i> {% trans 'ПОИСК' %}</button>
                    <a target="_blank" data-aos="flip-up" href="https://wa.me/77015302812?text=Здравствуйте,%20какие%20условия%20размещения%20банкетного%20зала?"
                       class="btn btn-rounded btn-info btn-sm btn-animate ms-5">
                        {% trans 'РАЗМЕЩЕНИЕ' %}
                </a>
                </div>
            </form>
        </div>


    <div class="container">

        <div class="row gy-5 mx-auto justify-content-center">
            <!--- цикл -->
            {% for banquet in banquets %}
            {% if banquet.status %}
            <div class="col-12 col-lg-6 text-center">
                <div class="card text-white" style="background: rgba(33, 37, 41, 0.5)">
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

                    <!-- Demo styles -->
                    <style>
                        html,
                        body {
                          position: relative;
                          height: 100%;
                        }

                        body {
                          background: #eee;
                          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                          font-size: 14px;
                          color: #000;
                          margin: 0;
                          padding: 0;
                        }

                        .swiper {
                          width: 90%;
                          height: 250px;
                          border-radius: 15px;
                        }

                        .swiper-slide {
                          text-align: center;
                          font-size: 18px;
                          background: rgba(33, 37, 41, 0);
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        }

                        .swiper-slide img {
                          display: block;
                          max-width: 100%;
                          height: 100%;
                          object-fit: cover;
                          border-radius: 15px
                        }
                    </style>

                    <!-- Swiper -->
                    <a class="btn-animate" href="{% url 'banquets:banquet_page' url_name=banquet.url_name %}">
                    <div class="swiper mySwiper mt-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="{{banquet.logo.url}}" loading="lazy" alt=""></div>
                            {% if banquet.photo1 %}
                            <div class="swiper-slide"><img src="{{ banquet.photo1.url }}" loading="lazy" alt="">
                            </div>
                            {% endif %}

                            {% if banquet.photo2 %}
                            <div class="swiper-slide"><img src="{{ banquet.photo2.url }}" loading="lazy" alt="">
                            </div>
                            {% endif %}

                            {% if banquet.photo3 %}
                            <div class="swiper-slide"><img src="{{ banquet.photo3.url }}" loading="lazy" alt="">
                            </div>
                            {% endif %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                        </a>


                    <!-- Swiper JS -->
                    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

                    <!-- Initialize Swiper -->
                    <script>
                        var swiper = new Swiper(".mySwiper", {
                          slidesPerView: 1,
                          spaceBetween: 1,
                          loop: true,
                          lazy: true,
                          keyboard: {
                            enabled: false,
                          },
                          autoplay: {
                            delay: 6000,
                            disableOnInteraction: true,
                          },
                        });
                    </script>
                    <div class="card-body my-0 py-1">
                        <h5 class="card-title my-0">{% trans 'Банкетный зал' %}
                            <span style="color: #FD7014">{{ banquet.name }}</span></h5>
                        {% if banquet.address %}
                            <p class="card-title my-0 text-white-50">
                                {{ banquet.address }}
                            </p>
                        {% endif %}

                        <p class="card-text my-0 text-white-50">
                            {% translate 'Время работы' %}:
                            {% if banquet.working_time %}
                                {{ banquet.working_time }}
                            {% endif %}
                        </p>

                        <div class="d-flex justify-content-around my-2 ">
                            <p class="my-0 px-2 border rounded-pill"
                               style="color: #FD7014; --mdb-border-color: #FD7014">
                                <i class="fas fa-coins"></i> {{banquet.price_min}} ₸ - {{banquet.price_max}} ₸
                            </p>
                            <p class="my-0 px-2 border rounded-pill"
                               style="color: #FD7014; --mdb-border-color: #FD7014">
                                <i class="fas fa-user"></i>
                                {% if banquet.min_capacity %}
                                {{banquet.min_capacity}} -
                                {% endif %}
                                {{banquet.capacity}} {% trans 'мест' %}
                            </p>
                        </div>

                        <p class="my-0">{{ banquet.description }}</p>
<!--                        <a href="{% url 'banquets:banquet_page' url_name=banquet.url_name %}">-->
<!--                            <button data-aos="flip-up" class="btn btn-success btn-rounded px-4 my-2 btn-animate">-->
<!--                                {% translate 'Перейти' %}-->
<!--                            </button>-->
<!--                        </a>-->
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}