{% extends "main/base.html" %}
{% load static %}
{% load i18n %}


{% block title %} {% translate 'Я ЕМ | Доставка еды напрямую от заведения' %} {% endblock title %}

{% block description %}
{% translate 'Создавайте меню c QR-кодом для своего ресторана.' %}
{% endblock description %}

{% block content %}

<!--button up-->
<a id="scrollToTopButton" class="btn fs-1 mx-2 shadow btn-rounded"
   style="color: #fd7014; background: rgba(33, 37, 41, 0.5); position: fixed; bottom: 25px; left: 15px; display: none; z-index: 100"
   href="#header"
   data-mdb-ripple-color="#FD7014">
    <i class="fas fa-arrow-up-long"></i>
</a>
<!--button end-->

{# Сообщения!!! #}
{% include "main/included/messages.html" %}

<!--COUNTER START-->
<section class="" style="background: #212529">
    <div id="counter" class="indicator-list  container">
        <div class="row text-center fs-6 py-2 fw-bold" style="color: #fd7014">
            <div class="col-4">
                <div class="indicators-item"> <!--item-1-->
                    <div data-num="{{total_clients}}" class="indicators-title fs-5"></div>
                    <div class="lng-unit4 indicators-subtitle text-white"><i class="fas fa-store fa-xs">
                    </i> {% trans 'Заведений' %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="indicators-item"> <!--item-1-->
                    <div data-num={{total_dishes}} class="indicators-title fs-5"></div>
                    <div class="lng-unit4 indicators-subtitle text-white"><i class="fas fa-utensils fa-xs">

                    </i> {% trans 'Блюд' %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="indicators-item"><!--item-3-->
                    <div data-num={{total_orders}} class="indicators-title fs-5"></div>
                    <div class="lng-unit6 indicators-subtitle text-white">
                        <i class="fas fa-user fa-xs"></i> {% trans 'Онлайн' %}
                    </div>
                </div>
            </div>
</section>
<!--COUNTER END-->

<main class="">
    <section class="skrollable pb-5"
             style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.8)), url({% static 'images/delivery/7-min.jpg' %});
    background-attachment: fixed; background-size: cover; min-height: 100vh">
        <div class="container">
            <h1 class="pt-2 fw-bold text-center" style="color: #fd7014">{% translate 'ЗАВЕДЕНИЯ' %}</h1>

            <div class="row gy-3 mb-3">
                <div class="col-12 text-center mx-auto">

                    <!--   CITY FOR LOOP     -->
                    <div class="btn-group-sm" role="group">
                        <a href="{% url 'main:delivery_list_page' %}"
                           {% if city_selected is None %}
                           class="btn btn-warning btn-animate my-1"
                           {% else %}
                           class="btn btn-success btn-animate my-1"
                           {% endif %}>{% translate 'Все' %}
                        </a>

                        {% for city in cities %}
                        <a href="{% url 'main:city_filter' city.slug %}"
                           {% if city.pk == city_selected.pk %}
                           class="btn btn-warning btn-animate my-1"
                           {% else %}
                           class="btn btn-success btn-animate my-1"
                           {% endif %}>{{ city }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <!--   END CITY FOR LOOP     -->

                <!--  SEARCH FIELD -->
                <!--                <div class="col-8 col-md-4 text-center mx-auto">-->
                <!--                    <form method="get" class="text-center">-->
                <!--                        <div class="input-group">-->
                <!--                            <div class="form-outline form-white">-->
                <!--                                <input id="search-input" name="q" class="form-control"/>-->
                <!--                                <label class="form-label" for="search-input">Поиск заведения</label>-->
                <!--                            </div>-->
                <!--                            <button type="submit" class="btn btn-warning btn-animate" data-mdb-html="true"-->
                <!--                                    data-mdb-toggle="tooltip" title="Hi! I'm tooltip">-->
                <!--                                <i class="fas fa-search"></i>-->
                <!--                            </button>-->
                <!--                        </div>-->
                <!--                    </form>-->
                <!--                </div>-->
            </div>


            <!-- END SEARCH FIELD -->
        </div>

        <div class="container">
            <div class="row gy-3 mx-auto justify-content-center">

                <!--- цикл -->
                {% for client in clients %}
                {% if client.status  %}
<!--                and client.tarif_number.name == "СЕРЕБРО" or client.tarif_number.name == "ЗОЛОТО"-->

                <div class="col-6 col-md-4 col-lg-3 text-center btn-animate" >
                    <a href="{% url 'main:menu_page' url_name=client.url_name %}" class="mx-0 px-0">
                    <div class="card text-white shadow" style="background: rgba(33, 37, 41, 0.75)">

                            <img src="{{client.logo.url}}"
                                 class="card-img-top mx-auto mt-0 mb-0 rounded "
                                 alt="logo image"
                                 style="max-width: 185px; max-height: 185px"
                                 draggable="false">

                        <div class="card-body my-0 py-1">
                            <h5 data-aos="flip-up" class="card-title my-0">{{ client.name }}
                            </h5>
                            <p data-aos="flip-up" class="my-0 text-white-50">
                                {{ client.working_time }}</p>
                            <p data-aos="flip-up" class="my-0 text-white-50" style="font-size: 12px">
                                {{ client.address }}</p>
                        </div>
                    </div>
                          </a>
                </div>

                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

</main>

{% endblock content %}