{% extends "main/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}
{% translate 'Я ЕМ | Доставка еды напрямую от заведения' %}
{% endblock title %}


{% block description %}
{% translate 'Создавайте меню c QR-кодом для своего ресторана.' %}
{% endblock description %}


{% block content %}

<!--button up-->
<a id="scrollToTopButton" class="btn fs-1 mx-2 shadow btn-rounded"
   style="color: #fd7014; background: rgba(33, 37, 41, 0.5); position: fixed; bottom: 25px; left: 15px; display: none; z-index: 100"
   href="#header"
   data-mdb-ripple-color="#FD7014">
    <i class="fas fa-arrow-up-long"></i>
</a>
<!--button end-->

<!--COUNTER START-->
<section class="user-select-none" style="background: #212529">
    <div id="counter" class="indicator-list  container">
        <div class="row text-center fs-6 py-2 fw-bold" style="color: #fd7014">
            <div class="col-4 col-lg-4">
                <div class="indicators-item"> <!--item-1-->
                    <div data-num="{{total_clients}}" class="indicators-title fs-4"></div>
                    <div class="lng-unit4 indicators-subtitle text-white"><i class="fas fa-store fa-xs">
                    </i> {% trans 'Заведений' %}
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-4">
                <div class="indicators-item"> <!--item-2-->
                    <div data-num="{{total_banquets}}" class="indicators-title fs-4"></div>
                    <div class="lng-unit4 indicators-subtitle text-white"><i class="fas fa-utensils fa-xs">
                    </i> {% trans 'Залов' %}
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-4">
                <div class="indicators-item"><!--item-3-->
                    <div data-num={{total_orders}} class="indicators-title fs-4"></div>
                    <div class="lng-unit6 indicators-subtitle text-white">
                        <i class="fas fa-user fa-xs"></i> {% trans 'Онлайн' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# Сообщения!!! #}
{% include "main/messages.html" %}



<!--COUNTER END-->

<!--SECTION-->
<main class="user-select-none">
    <section class="skrollable pb-5"
             style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.5)), url({% static 'images/index/bg-min.jpg' %});
    background-attachment: fixed; background-size: cover; background-position: center">
        <div class="container">
            <h4 class="pt-2 fw-bold text-center">{% translate 'Добро пожаловать в' %} <span
                    style="color: #fd7014">YAEM</span>
            </h4>
            <div class="row my-3 d-flex justify-content-evenly text-center mx-auto" style="max-width: 700px">
                <!--- DELIVERY -->
                <div class="col-6">
                    <a href="delivery" class="btn px-0 py-0 btn-animate rounded-pill" data-mdb-ripple-color="#FD7014"
                       style="-webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #FD7014">
                        <div class="card shadow-2 rounded-pill"
                             style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.7)),
                                         url({% static 'images/index/menu-min.jpg' %});
                                        height: 150px; width: 150px; background-size: cover;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h6 class="" style="color: #FD7014">{% trans 'ДОСТАВКА' %}</h6>
                            </div>
                        </div>
                    </a>
                    </div>
                <!--- BANQUET -->
                <div class="col-6">
                    <a href="{% url 'banquets:banquet_list_page' %}" class="btn btn-animate px-0 py-0 rounded-pill"
                       data-mdb-ripple-color="#FD7014"
                    style="-webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #FD7014">
                        <div class="card shadow shadow-inner rounded-pill"
                             style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.8)),
                                         url({% static 'images/index/banquet-min.jpg' %});
                                           height: 150px; width: 150px; background-size: cover">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h6 class="" style="color: #FD7014">{% trans 'БАНКЕТЫ' %}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row my-3 gy-4 d-flex justify-content-evenly text-center">
                <!--- PRODUCTS -->
                <div data-aos="fade-up" class="col-6 col-lg-3">
                    <button class="btn px-0 py-0 rounded-pill" data-mdb-ripple-color="dark"
                    style="-webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #878686">
                        <div class="card shadow rounded-pill"
                             style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.8)),
                                         url({% static 'images/index/supermarket.avif' %});
                                           height: 150px; width: 150px; background-size: cover">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h6 class="text-muted" style="">{% trans 'ПРОДУКТЫ' %}</h6>
                            </div>
                            <p class="">{% trans 'В РАЗРАБОТКЕ' %}</p>
                        </div>
                    </button>
                </div>
                <!--- CATERING -->
                <div data-aos="fade-up" class="col-6 col-lg-3">
                    <button class="btn px-0 py-0 rounded-pill" data-mdb-ripple-color="dark"
                    style="-webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #878686">
                        <div class="card shadow rounded-pill"
                             style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.9)),
                                         url({% static 'images/index/catering1-min.jpg' %});
                                           height: 150px; width: 150px; background-size: cover">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h6 class="text-muted" style="">{% trans 'КЕЙТЕРИНГ' %}</h6>
                            </div>
                            <p class="" style="">{% trans 'В РАЗРАБОТКЕ' %}</p>
                        </div>
                    </button>
                </div>
                <!--- TRADERS -->
                <div data-aos="fade-up" class="col-6 col-lg-3">
                    <button class="btn px-0 py-0 rounded-pill" data-mdb-ripple-color="dark"
                    style="-webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #878686">
                        <div class="card shadow shadow-inner rounded-pill"
                             style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.9)),
                                         url({% static 'images/index/companies-min.jpg' %});
                                           height: 150px; width: 150px; background-size: cover">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <h6 class="text-muted" style="">{% trans 'ТОРГОВЫЕ ПРЕДСТАВИТЕЛИ' %}</h6>
                            </div>
                            <p class="">{% trans 'В РАЗРАБОТКЕ' %}</p>
                        </div>
                    </button>
                </div>
            </div>

            <!--- CONTACT US -->
            <div class="row mt-5">
                <div class="col-12 text-center">
                    <a href="partner" class="text-center">
                        <button data-aos="flip-up" class="btn btn-rounded btn-danger btn-animate"
                                style="--mdb-btn-bg: #FD7014">
                            {% trans 'Cтать партнёром' %}
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </section>

</main>

{% endblock content %}