{% extends "main/base.html" %}
{% load static %}
{% load i18n %}


{% block title %} Я ЕМ | Онлайн Меню {% endblock title %}

{% block content %}

<!--button up-->
<a id="scrollToTopButton" class="btn fs-5 bg-dark mx-2 shadow"
   style="color: #fd7014; --bs-bg-opacity: .8; border-radius: 50px; position: fixed; bottom: 100px; right: 50px; display: none;"
   href="#header">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
</a>
<!--button end-->

<!--COUNTER START-->
<section>
    <div id="counter" class="indicator-list  container">
        <div class="row text-center fs-4 my-3 fw-bold" style="color: #fd7014">
            <div class="col col-lg-4">
                <div class="indicators-item"> <!--item-1-->
                    <div data-num="{{total_clients}}" class="indicators-title"></div>
                    <div class="lng-unit4 indicators-subtitle text-white">{% trans 'Заведений' %}</div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="indicators-item"> <!--item-1-->
                    <div data-num={{total_dishes}} class="indicators-title"></div>
                    <div class="lng-unit4 indicators-subtitle text-white">{% trans 'Блюд' %}</div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="indicators-item"><!--item-3-->
                    <div data-num={{total_orders}} class="indicators-title"></div>
                    <div class="lng-unit6 indicators-subtitle text-white">{% trans 'Заказов' %}</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--COUNTER END-->

<main>
    <section class="skrollable pb-5"
             style="background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url({% static 'images/3.jpg' %});
    background-attachment: fixed; background-position: 50% 50%; background-repeat: repeat">

        <h1 class="text-center pt-4 fw-bold" style="color: #fd7014">{% trans 'ЗАВЕДЕНИЯ' %}</h1>



        <div class="container">
            <div class="row my-3 gy-3 mx-auto justify-content-center">
                <!--- цикл -->
                {% for client in clients %}
                {% if client.status %}
                <div class="col-lg-3 col-sm-5 bg-dark text-center mx-3"
                     style="--bs-bg-opacity: .5; border-radius: 30%;">
                    <img src="{{client.logo}}" alt="" height="150px" width="auto" class="my-2 mx-auto"
                         style="border-radius: 15px;">
                    <h4 class="text-start-center my-0">{{ client.name }}</h4>
                    <p class="text-start my-0 ms-1 fst-italic">Время работы: {{ client.working_time }}</p>
                    <p class="text-start my-0 ms-1 text-body">{{ client.description }}</p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="text-start my-1">{% trans 'Самовывоз' %}:</p>
                                <p class="text-start my-1">{% trans 'Доставка' %}:</p>
                            </div>

                            <div class="col-sm-6">
                                <p class="text my-0">
                                    {% if client.outside %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-check text-light bg-success" viewBox="0 0 16 16"
                                         style="border-radius: 25px;">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                    {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                                         class="bi bi-x bg-danger" viewBox="0 0 16 16"
                                         style="border-radius: 25px;">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    {% endif %}
                                </p>
                                <p class="text my-0">
                                    {% if client.delivery %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-check text-light bg-success mt-1" viewBox="0 0 16 16"
                                         style="border-radius: 25px;"> viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                    {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                                         class="bi bi-x bg-danger mt-1" viewBox="0 0 16 16"
                                         style="border-radius: 25px;">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="menu/{{client.url_name}}">
                        <button class="btn btn-success my-2">{% trans 'Перейти' %}</button>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock content %}