{% extends "main/base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}


{% block title %}
{% translate 'Онлайн меню' %} {{client.name}} {{client.city}}
{% endblock title %}


{% block description %}
{% translate 'Онлайн меню {{client.name}} в городе {{client.city}}' %}
{% endblock description %}


{% block content %}

<!--button up-->
<a id="scrollToTopButton" class="btn fs-1 mx-2 shadow btn-rounded"
   style="color: #fd7014; background: rgba(33, 37, 41, 0.5); position: fixed; bottom: 100px; left: 15px; display: none; z-index: 100"
   href="#header"
    data-mdb-ripple-color="#FD7014">
    <i class="fas fa-arrow-up-long"></i>
</a>
<!--button end-->

<body>
<!--  MAIN CONTENT  -->




<section class="skrollable pb-5"
         style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.9)), url({% static 'images/menu/6-min.jpg' %});
    background-attachment: fixed;background-size: cover; background-repeat: no-repeat">

    <!--Flying Cart-->
    <a class="d-inline btn fs-2 shadow btn-rounded btn-animate"
       style="color: #fd7014; background: rgba(33, 37, 41, 0.5); position: fixed; bottom: 30px; left: 15px; display: none; z-index: 101"
       href="{% url 'cart:cart_page' %}"
        data-mdb-ripple-color="#FD7014">
            <i class="fas fa-cart-shopping my-0 py-0"></i>
    </a>

    <!-- Modal -->
<!--    <div class="modal fade" id="cart_modal" tabindex="-1" aria-labelledby="cart_modal" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-xl" style="&#45;&#45;mdb-modal-header-border-color: #555555; &#45;&#45;mdb-modal-footer-border-color: #555555">-->
<!--            <div class="modal-content" style="background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.95), rgba(25, 25, 25, 0.95)), url({% static 'images/cart/4-min.jpg' %});-->
<!--    background-attachment: fixed; background-size: cover; background-repeat: no-repeat">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title fw-bold" id="exampleModalLabel">Корзина</h5>-->
<!--                    <button type="button" class="btn-close bg-danger" data-mdb-ripple-init data-mdb-dismiss="modal"-->
<!--                            aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body px-2">-->
<!--                    <div class="d-flex">-->
<!--                        <div class="col-4 col-lg-2 text-center">-->
<!--                            <img src="{% static 'images/menu/2gis.png' %}" alt="ФОТО БЛЮДА" style="max-height: 100px">-->
<!--                        </div>-->
<!--                        <div class="col-8 col-lg-10">-->
<!--                            <div class="row">-->
<!--                                <p class="fw-bold"> Dish Name</p>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <p class=""> Dish description</p>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="d-flex content-justify-between">-->
<!--                                    <div class="col fw-bold">-->
<!--                                        <button class="btn btn-sm btn-danger btn-floating btn-animate shadow-0" data-mdb-ripple-color="danger"><i-->
<!--                                                class="fas fa-minus"></i></button>-->
<!--                                        <span>000</span>-->
<!--                                        <button class="btn btn-sm btn-success btn-floating btn-animate shadow-0" data-mdb-ripple-color="success"><i-->
<!--                                                class="fas fa-plus"></i></button>-->
<!--                                    </div>-->

<!--                                    <div class="col fw-bold text-end">0 000 ₸</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="d-flex justify-content-end fw-bold">-->
<!--                        <div class="col-6 col-lg-2">-->
<!--                            <p class="my-0">Итого</p>-->
<!--                            <p class="my-0">Обслуживание</p>-->
<!--                            <p class="my-0">Итого с обслуживанием</p>-->
<!--                        </div>-->
<!--                        <div class="col-2 text-end">-->
<!--                            <p class="my-0">0 000 ₸</p>-->
<!--                            <p class="my-0">00 %</p>-->
<!--                            <p class="my-0">0 000 ₸</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-danger" data-mdb-ripple-init data-mdb-dismiss="modal">-->
<!--                        Закрыть-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <!--    CAFE DESCRIPTION    -->
    <div class="container-fluid">
        <div class="col-12 text-center">
            <div class="card text-white shadow user-select-none" style="background: rgba(25, 25, 25, 0.75); z-index: auto" >
                <img src="{{client.logo.url}}"
                     class="card-img-top mx-auto mt-2 mb-0 shadow rounded" alt="logo image"
                     style="max-width: 220px"
                    draggable="false">

                <div class="card-body my-0 py-1">
                    <h4 class="my-0"> {% translate 'Добро пожаловать в' %}
                        <span class="" style="color: #FD7014">{{ client.name }}</span>
                    </h4>
                    <p class="my-0 text-white-50">{% translate 'Время работы' %}: {{ client.working_time}}</p>
                    <p class="my-0 text-white-50">{% translate 'г' %}.{{client.city}}, {{client.address}}</p>
                    <p class="my-0">{{ client.description }}</p>

                    <div class="row my-1 d-flex justify-content-around">
                        <div class="col-12 text-center fs-5">
                            {% if client.outside %}
                            <span class="badge" style="background-color: rgba(253, 112, 20, 0.4)">{% trans 'Самовывоз' %}</span>
                            {% endif %}

                            {% if client.outside %}
                            <span class="badge" data-mdb-toggle="tooltip" title="{% trans 'Чтобы заказать самовывоз \ доставку, просмотрите меню ниже, затем нажмите на Телефон или Whatsapp' %}" style="background-color: rgba(253, 112, 20, 0.4)">
                                {% trans 'Доставка' %}
                                <i class="fas fa-circle-question"  style="color:#fd7014"></i></span>
                            {% endif %}

                            {% if client.tarif_number.name == "СЕРЕБРО" or client.tarif_number.name == "ЗОЛОТО" %}
                            <span class="badge" style="background-color: rgba(253, 112, 20, 0.4)">{% trans 'Меню' %}
                                <i class="flag flag-kz"></i><i class="flag flag-ru"></i><i class="flag flag-uk"></i>
                            </span>
                            {% endif %}

                            {% if client_has_banquet %}
                            <a href="{% url 'banquets:banquet_page' url_name=client.url_name %}">
                                <span class="badge" style="background-color: rgba(253, 112, 20, 0.4)">{% trans 'Банкеты' %} <i class="fas fa-circle-chevron-right" style="color: #fd7014"></i></span>
                            </a>
                            {% endif %}

                        </div>
                    </div>

                    {% if client.tarif_number.name == "СЕРЕБРО" or client.tarif_number.name == "ЗОЛОТО" %}
                    <div class="row my-2 d-flex justify-content-around">
                        <div data-aos="flip-left" class="col-8">

                            {% if client.inst %}
                            <a href="{{ client.inst }}" target="_blank">
                                <div class="btn btn-animate text-white btn-floating mt-1 mx-1"
                                     style="background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }">
                                    <i class="fab fa-instagram fa-2x"></i>
                                </div>
                            </a>
                            {% endif %}

                            {% if client.two_gis %}
                            <a href="{{ client.two_gis }}" target="_blank">
                                <div class="btn btn-animate text-white btn-floating mt-1 mx-1"
                                     style="background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }">
                                    <img src="{% static 'images/menu/2gis.png' %}" alt="" class="img-fluid"
                                         style="border-radius: 25px;">
                                </div>
                            </a>
                            {% endif %}

                            {% if client.phone %}
                            <a href="tel:+{{client.phone}}">
                                <div class="btn btn-primary btn-animate text-white btn-floating mt-1 mx-1">
                                    <i class="fas fa-phone-flip fa-lg"></i>
                                </div>
                            </a>
<!--                            IF WHATSAPP-->
                            <a target="_blank"
                               href="https://wa.me/{{client.phone}}">
                                <div class="btn btn-success btn-animate text-white btn-floating mt-1 mx-1">
                                    <i class="fab fa-whatsapp fa-2x"></i>
                                </div>
                            </a>
                            {% endif %}

                        </div>

                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="container text-center my-3">
        <h2 data-aos="fade-right" class="pt-4 fw-bold" style="color: #fd7014">{% translate 'МЕНЮ' %}</h2>
    </div>



    <!--  SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <!-- Demo styles -->
    <style>
        body {
          background: #eee;
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: #000;
          margin: 0;
          padding: 0;
        }

        .swiper {
          width: 100%;
          padding-top: 50px;
          padding-bottom: 50px;
          transition: opacity 0.3s ease;
        }

        .swiper-wrapper {
        height:auto;
        }

        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: auto;
          height: auto;
        }

        .swiper-slide img {
          display: block;
          width: 100%;

    </style>


    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!--    FOOD TYPE SWIPER    -->
    <div class="sticky-top">
        <div class="container-fluid py-2" style="background: rgba(33, 37, 41, 0.5); overflow-x: hidden;">
            <div class="swiper-container">
                <div class="swiper-wrapper text-center">
                    {% for ft in food_type %}
                    <div class="swiper-slide mx-0">
                        <a class="btn btn-rounded shadow-0 btn-animate"
                           style="color: #fd7014; background: rgba(33, 37, 41, 0.8)" href="#{{ ft }}">
                            {{ ft }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 0,
});
    </script>
    <!--    FOOD TYPE DOWN    -->


    {% for ft in food_type %}
    <h2 data-aos="fade-right" class="ms-5 mt-5" style="color: #fd7014" id="{{ ft }}">{{ ft }}</h2>

    <!--    DISH CONTENT    -->
    <div class="container-fluid my-3">
        <div class="row gy-2 mx-auto justify-content-center">
            {% for dish in dishes %}
            {% if dish.food_type == ft and not dish.stop %}
            <div data-aos="fade-right" class="col-12 col-md-5 mx-auto"
                 style="background: rgba(33, 37, 41, 0.5); border-radius: 20px;">
                <div class="row">
                    <div class="col-8 col-lg-9 my-auto px-1 text-center">
                        {% if dish.image and client.tarif_number.name == "СЕРЕБРО" or client.tarif_number.name == "ЗОЛОТО" %}
                        <img src="{{ dish.image.url }}" alt="dish img"
                             class="img bg-white mt-1"
                             style="max-width: 80px; border-radius: 20px"
                            draggable="false"
                        loading="lazy">
                        {% endif %}
                        <h5 class="my-1 fw-bold">{{ dish.name }}</h5>
                        <p class="mb-1">{{ dish.description }}</p>
                    </div>
                    <div class="col-4 col-lg-3 text-center mx-0 my-auto ">
                        {% if dish.old_price > dish.actual_price %}
                        <del class="fs-4 text-danger">
                            <p class="my-0" style="color: #fd7014">{{ dish.old_price|intcomma }}</p></del>
                        {% endif %}
                        <p class="my-0 fs-4 fw-bold" style="color: #fd7014">{{ dish.actual_price|intcomma }}
                            ₸</p>

                        <!--CART-->
                        <form class="d-flex justify-content-between">
                            {% csrf_token %}
                            <!-- Кнопка "-" для уменьшения количества товара -->
                            <input type="hidden" name="remove_quantity" value="1">
                            <button class="btn btn-animate shadow-0 px-0 py-0 me-1" data-mdb-ripple-color="danger"
                                    hx-post="{% url 'cart:remove_from_cart' dish.id %}"
                                    hx-trigger="click"
                                    hx-target="#product-quantity-{{ dish.id }}"
                                    hidden="hidden">
                                <i class="far fa-square-minus fa-3x text-danger"></i>
                            </button>

                            <!--КОЛ-ВО БЛЮДА-->
                            <span class="fw-bold fs-5" id="product-quantity-{{ dish.id }}"></span>

                            <!-- Кнопка "+" для увеличения количества товара -->
                            <input type="hidden" name="add_quantity" value="1">
                            <button class="btn btn-animate shadow-0 px-0 py-0 ms-1" data-mdb-ripple-color="success"
                                    hx-post="{% url 'cart:add_to_cart' dish.id %}"
                                    hx-trigger="click"
                                    hx-target="#product-quantity-{{ dish.id }}"><i
                                    class="far fa-square-plus fa-3x text-success"></i>
                            </button>
                        </form>
                        <script>
                            // Добавление обработчика события для кнопки "+"
                            document.querySelectorAll('button[data-mdb-ripple-color="success"]').forEach((button) => {
                                const quantitySpanId = button.getAttribute("hx-target").substring(1); // Удаление "#"
                                const minusButton = document.querySelector(`button[data-mdb-ripple-color="danger"][hx-target="#${quantitySpanId}"]`);

                                button.addEventListener("click", () => {
                                    // Сделаем кнопку "-" видимой
                                    minusButton.removeAttribute("hidden");

                                    // Другие действия, которые вы хотите выполнить при нажатии на "+"
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>


<!--  MODAL CART WINDOW  -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered modal-sm">-->
<!--        <div class="modal-content" style="background: rgba(33, 37, 41, 0.5); border-radius: 20px;">-->

<!--            <div class="modal-body">-->
<!--                <div class="row">-->
<!--                    <div class="col-12 text-center">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">{% translate 'Добавлено в корзину' %}</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>


{% endblock content %}

