{% extends "registration/base_registration.html" %}
{% load static %}
{% load i18n %}


{% block title %}  YAEM | Регистрация {% endblock title %}


{% block content %}
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <div class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'images/base/favicon1-min.png' %}" alt="">
                                <span class="d-none d-lg-block">YAEM Admin</span>
                            </div>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Создать аккаунт</h5>
                                    <p class="text-center small">Введите свои данные для создания аккаунта</p>
                                    {{ form.errors }}
                                </div>

                                <form method="post" class="row g-3 needs-validation">
                                    {% csrf_token %}
<!--                                    <div class="col-12">-->
<!--                                        <label for="yourName" class="form-label">Имя</label>-->
<!--                                        <input type="text" name="name" class="form-control" id="yourName" required>-->
<!--                                        <div class="invalid-feedback">Please, enter your name!</div>-->
<!--                                    </div>-->

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Адрес Эл.Почты</label>
                                        <input type="email" name="email" class="form-control" id="yourEmail" required>
                                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Имя пользователя</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" name="username" class="form-control" id="yourUsername"
                                                   required>
                                            <div class="invalid-feedback">Пожалуйста введите имя пользователя.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword1" class="form-label">Пароль</label>
                                        <input type="password" name="password1" class="form-control" id="yourPassword1"
                                               required>
                                        <div class="invalid-feedback">Пожалуйста введите пароль!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword2" class="form-label">Повторите пароль</label>
                                        <input type="password" name="password2" class="form-control" id="yourPassword2"
                                               required>
                                        <div class="invalid-feedback">Пожалуйста повторите пароль!</div>
                                    </div>


                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value=""
                                                   id="acceptTerms" required>
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a
                                                    href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Создать аккаунт</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="credits">
                            Designed by <a class="fw-bold" href="{% url 'partner:partner_page' %}"
                                           style="color: #FD7014">YAEM</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

{% endblock content %}